In [1]:
import pandas as pd
import numpy as np
import warnings
import pyarrow.parquet as pq

warnings.filterwarnings("ignore")

DATASET VEHICULOS ELECTRICOS

In [4]:
# Abre Dataset de vehiculos electricos
electricos=pd.read_csv("DataSetCrudos/autos electricos.csv")

In [5]:
# Crea una lista de nombres de columnas originales del DataFrame "electricos"
viejas_columnas = list(electricos.columns)

# Asigna nuevas columnas al DataFrame "electricos" con nombres más descriptivos
electricos["model year"] = electricos["Model year"]
electricos["fabricante"] = electricos["Make"]
electricos["modelo"] = electricos["Model"]
electricos["tipo de vehiculo"] = electricos["Vehicle class"]
electricos["combustible"] = electricos["Fuel type"]
electricos["Ciudad(Le/100 km)"] = electricos["City (Le/100 km)"]
electricos["Carretera(Le/100 km)"] = electricos["Highway (Le/100 km)"]
electricos["Combinado(Le/100 km)"] = electricos["Combined (Le/100 km)"]
electricos["rango(km)"] = electricos["Range (km)"]
electricos["emision de CO2(g/km)"] = electricos["CO2 emissions (g/km)"]
electricos["calificacion de co2"] = electricos["CO2 rating "]
electricos["calificacion por escape"] = electricos["Smog rating"]
electricos["tiempo de recarga(h)"] = electricos["Recharge time (h)"]

# Elimina las columnas originales del DataFrame "electricos" excepto "Motor (kW)"
# removiendo de la lista "viejas_columnas" la columna "Motor (kW)" para no ser eliminada
viejas_columnas.remove("Motor (kW)")
electricos.drop(columns=viejas_columnas, inplace=True)

In [6]:
# Crea una máscara booleana para seleccionar filas en las que el año del modelo sea menor que 2020 o igual a 2024
mask = (electricos["model year"] < 2020) | (electricos["model year"] == 2024)

# Elimina las filas del DataFrame "electricos" que cumplan con la condición de la máscara
electricos.drop(electricos[mask].index, inplace=True)

In [7]:
# Obtiene una lista de los tipos de vehículos únicos presentes en la columna "tipo de vehiculo"
tipos_electricos = list(electricos["tipo de vehiculo"].unique())

In [8]:
# Selecciona las columnas "tipo de vehiculo" y "Ciudad(Le/100 km)" del DataFrame "electricos",
# luego agrupa los datos por el tipo de vehículo y calcula la media de la columna "Ciudad(Le/100 km)",
# reinicia los índices y ordena el DataFrame resultante en orden descendente según los valores de la columna "Ciudad(Le/100 km)"
tab_ele = electricos[["tipo de vehiculo", "Ciudad(Le/100 km)"]].groupby("tipo de vehiculo").agg({"Ciudad(Le/100 km)": "mean"}).reset_index().sort_values(by="Ciudad(Le/100 km)", ascending=False)

In [9]:
# Se crea una nueva columna llamada "electrico (ciudad)" en el DataFrame "tab_ele",
# asignándole los valores de la columna "Ciudad(Le/100 km)"
tab_ele["electrico (ciudad)"] = tab_ele["Ciudad(Le/100 km)"]

# Se elimina la columna original "Ciudad(Le/100 km)" del DataFrame "tab_ele"
tab_ele.drop(columns=["Ciudad(Le/100 km)"], inplace=True)

In [10]:
# Guarda el DataFrame "electricos" en un archivo CSV con el nombre "vehiculos electricos.csv"
electricos.to_csv("vehiculos electricos.csv")

DATASET VEHICULOS CONVENCIONALES

In [11]:
# Lee el archivo CSV "convencional.csv"
convencional=pd.read_csv("DataSetCrudos\convencional.csv",encoding="latin1")

In [13]:
# Crea una lista de los nombres de las columnas originales del DataFrame "convencional"
viejas_columnas = list(convencional.columns)

# Asigna nuevas columnas al DataFrame "convencional" con nombres más descriptivos
convencional["model year"] = convencional["Model year"]
convencional["fabricante"] = convencional["Make"]
convencional["modelo"] = convencional["Model"]
convencional["tipo de vehiculo"] = convencional["Vehicle class"]
convencional["combustible"] = convencional["Fuel type"]
convencional["Ciudad(L/100 km)"] = convencional["City (L/100 km)"]
convencional["Carretera(L/100 km)"] = convencional["Highway (L/100 km)"]
convencional["Combinado(L/100 km)"] = convencional["Combined (L/100 km)"]
convencional["emision de CO2(g/km)"] = convencional["CO2 emissions (g/km)"]
convencional["calificacion de co2"] = convencional["CO2 rating"]
convencional["calificacion por escape"] = convencional["Smog rating"]

# Elimina las columnas originales del DataFrame "convencional"
convencional.drop(columns=viejas_columnas, inplace=True)

In [14]:
# Selecciona la columna "combustible" del DataFrame "convencional", luego agrupa los datos por tipo de combustible
# y cuenta la cantidad de registros para cada tipo de combustible
tab = convencional[["combustible"]].groupby("combustible").agg({"combustible": "count"})

# Crea una nueva columna llamada "cantidad" en el DataFrame "tab", que contiene la cantidad de registros para cada tipo de combustible
tab["cantidad"] = tab["combustible"]

# Elimina la columna original "combustible" del DataFrame "tab"
tab.drop(columns=["combustible"], inplace=True)

# Reinicia los índices del DataFrame "tab"
tab.reset_index()

  combustible  cantidad
0           D       115
1           E        72
2           X      2057
3           Z      2243

In [15]:
# Selecciona las columnas "combustible" y "Ciudad(L/100 km)" del DataFrame "convencional".
# Luego, agrupa los datos por tipo de combustible y calcula la media de la columna "Ciudad(L/100 km)" para cada tipo.
# Finalmente, reinicia los índices del DataFrame resultante y lo ordena en orden descendente según los valores de la columna "Ciudad(L/100 km)".
tab = convencional[["combustible", "Ciudad(L/100 km)"]].groupby("combustible").agg({"Ciudad(L/100 km)": "mean"}).reset_index().sort_values(by="Ciudad(L/100 km)", ascending=False)

  combustible  Ciudad(L/100 km)
1           E         19.956944
3           Z         13.517789
0           D         11.215652
2           X         11.152552

In [16]:
# Selecciona las columnas "tipo de vehiculo" y "Ciudad(L/100 km)" del DataFrame "convencional".
# Luego, agrupa los datos por tipo de vehículo y calcula la media de la columna "Ciudad(L/100 km)" para cada tipo.
# Finalmente, reinicia los índices del DataFrame resultante y lo ordena en orden descendente según los valores de la columna "Ciudad(L/100 km)".
tab_conv=convencional[["tipo de vehiculo","Ciudad(L/100 km)"]].groupby("tipo de vehiculo").agg({"Ciudad(L/100 km)":"mean"}).reset_index().sort_values(by="Ciudad(L/100 km)",ascending=False)

In [17]:
# Se crea una nueva columna llamada "convencional (ciudad)" en el DataFrame "tab_conv",
# asignando los valores de la columna "Ciudad(L/100 km)"
tab_conv["convencional (ciudad)"] = tab_conv["Ciudad(L/100 km)"]

# Se elimina la columna original "Ciudad(L/100 km)" del DataFrame "tab_conv"
tab_conv.drop(columns=["Ciudad(L/100 km)"], inplace=True)

In [18]:
# Guarda el DataFrame "convencional" en un archivo CSV con el nombre "vehiculos de combustible convencional.csv"
convencional.to_csv("vehiculos de combustible convencional.csv")

DATASET VEHICULOS HIBRIDOS

In [19]:
# Lee el archivo CSV "hibridos.csv"
hibridos=pd.read_csv("DataSetCrudos\hibridos.csv",encoding="latin1")

In [21]:
# Crea una lista de los nombres de las columnas originales del DataFrame "hibridos"
viejas_columnas = list(hibridos.columns)

# Asigna nuevas columnas al DataFrame "hibridos" con nombres más descriptivos
hibridos["model year"] = hibridos["Model year"]
hibridos["fabricante"] = hibridos["Make"]
hibridos["modelo"] = hibridos["Model"]
hibridos["tipo de vehiculo"] = hibridos["Vehicle class"]
hibridos["combustible 1"] = hibridos["Fuel type 1"]
hibridos["Combinado Le/100 km"] = hibridos["Combined Le/100 km"]
hibridos["rango 1"] = hibridos["Range 1 (km)"]
hibridos["combustible 2"] = hibridos["Fuel type 2"]
hibridos["Ciudad(L/100 km)"] = hibridos["City (L/100 km)"]
hibridos["Carretera(L/100 km)"] = hibridos["Highway (L/100 km)"]
hibridos["Combinado(L/100 km)"] = hibridos["Combined (L/100 km)"] 
hibridos["rango 2"] = hibridos["Range 2 (km)"]
hibridos["emision de CO2(g/km)"] = hibridos["CO2 emissions (g/km)"]
hibridos["calificacion de co2"] = hibridos["CO2 rating"]
hibridos["calificacion por escape"] = hibridos["Smog rating"]

# Elimina las columnas originales del DataFrame "hibridos"
hibridos.drop(columns=viejas_columnas, inplace=True)

In [22]:
# Definición de una función llamada 'con' que busca la cadena "how" dentro de un valor
def con(val):
    try:
        return "how" in val
    except:
        return False

# Selecciona y elimina las filas del DataFrame 'hibridos' donde la columna 'model year' contiene la cadena "how"
hibridos.drop(hibridos[hibridos["model year"].apply(lambda x: con(x))].index, inplace=True)

# Convierte los valores de la columna 'model year' a tipo entero (si es posible)
hibridos["model year"] = hibridos["model year"].apply(lambda x: int(x))

# Crea una máscara booleana para seleccionar filas en las que el año del modelo sea menor que 2020 y sea igual a 2024
mask = (hibridos["model year"] < 2020) & (hibridos["model year"] == 2024)

# Elimina las filas del DataFrame 'hibridos' que cumplen con la condición de la máscara
hibridos.drop(hibridos[mask].index, inplace=True)

In [23]:
# Definición de la función 'fun' que asigna un valor específico a ciertos patrones encontrados en los valores de la columna 'combustible 1'
def fun(val):
    if "B/X" in val:
        return "B/X"
    elif "B/Z" in val:
        return "B/Z"
    else:
        return val

# Aplica la función 'fun' a los valores de la columna 'combustible 1'
hibridos["combustible 1"] = hibridos["combustible 1"].apply(lambda x: fun(x))

# Agrupa los datos por el valor de la columna 'combustible 1' y cuenta el número de ocurrencias de cada valor
conteo_combustible = hibridos[["combustible 1"]].groupby("combustible 1").agg({"combustible 1": "count"})

               combustible 1
combustible 1
B                         39
B/X                      103
B/Z                      150

In [24]:
# Aplica una función lambda a los valores de la columna "Combinado Le/100 km" en el DataFrame "hibridos"
# La función divide cada valor en un espacio en blanco y selecciona la parte numérica antes del espacio
# Luego, convierte esta parte numérica en un número de punto flotante
hibridos["Combinado Le/100 km"]=hibridos["Combinado Le/100 km"].apply(lambda x:float(x.split(" ")[0]))

In [25]:
# Selecciona las columnas "tipo de vehiculo", "Combinado Le/100 km" y "Combinado(L/100 km)" del DataFrame "hibridos",
# luego agrupa los datos por tipo de vehículo y calcula la media de las columnas "Combinado Le/100 km" y "Combinado(L/100 km)" para cada tipo,
# reinicia los índices del DataFrame resultante y lo ordena en orden descendente según los valores de las columnas "Combinado Le/100 km" y "Combinado(L/100 km)"
tab_hib=hibridos[["tipo de vehiculo","Combinado Le/100 km","Combinado(L/100 km)"]].groupby("tipo de vehiculo").agg({"Combinado Le/100 km":"mean","Combinado(L/100 km)":"mean"}).reset_index().sort_values(by=["Combinado Le/100 km","Combinado(L/100 km)"],ascending=False)

In [26]:
# Se crea una nueva columna llamada "hibrido electrico (combinado)" en el DataFrame "tab_hib",
# asignándole los valores de la columna "Combinado Le/100 km"
tab_hib["hibrido electrico (combinado)"] = tab_hib["Combinado Le/100 km"]

# Se crea una nueva columna llamada "hibrido convencional (combinado)" en el DataFrame "tab_hib",
# asignándole los valores de la columna "Combinado(L/100 km)"
tab_hib["hibrido convencional (combinado)"] = tab_hib["Combinado(L/100 km)"]

# Se eliminan las columnas originales "Combinado Le/100 km" y "Combinado(L/100 km)" del DataFrame "tab_hib"
tab_hib.drop(columns=["Combinado Le/100 km", "Combinado(L/100 km)"], inplace=True)

In [27]:
# Combina los DataFrames 'tab_conv' y 'tab_ele' en uno solo basado en la columna 'tipo de vehiculo'
# Utiliza unir tipo 'left' para conservar todas las filas de 'tab_conv' y agregar información de 'tab_ele' si está disponible
tab = pd.merge(tab_conv, tab_ele, on="tipo de vehiculo", how="left")

# Combina el DataFrame resultante anterior con el DataFrame 'tab_hib' basado en la columna 'tipo de vehiculo'
# Utiliza unir tipo 'left' para conservar todas las filas del DataFrame 'tab' y agregar información de 'tab_hib' si está disponible
tab = pd.merge(tab, tab_hib, on="tipo de vehiculo", how="left")

In [28]:
# Crea una máscara booleana para seleccionar las filas donde la columna "electrico (ciudad)" es NaN
# y al menos una de las columnas "hibrido electrico (combinado)" o "hibrido convencional (combinado)" también es NaN
mask = tab["electrico (ciudad)"].isna() & (tab["hibrido electrico (combinado)"].isna() | tab["hibrido convencional (combinado)"].isna())

# Elimina las filas del DataFrame 'tab' que cumplen con la condición de la máscara
tab.drop(tab[mask].index, inplace=True)

In [29]:
# Crea lista de tipos de auto
autos=["Sport utility vehicle: Standard",
       "Full-size",
       "Minivan",
       "Mid-size",
       "Sport utility vehicle: Small",
       "Compact",
       "Station wagon: Small"]

In [30]:
# Crea una máscara booleana para seleccionar las filas en el DataFrame 'tab' donde el valor de la columna "tipo de vehiculo" está presente en la lista 'autos'
mask = tab["tipo de vehiculo"].apply(lambda x: x in autos)

# Asigna al DataFrame 'tab' solo las filas que cumplen con la condición de la máscara
tab = tab[mask]

In [31]:
# Crea una lista de etiquetas a partir de los valores de la columna "tipo de vehiculo" en el DataFrame 'tab'
labels = list(tab["tipo de vehiculo"])

# Modifica las etiquetas para que el texto que sigue a los dos puntos (:), si lo hay, esté en una nueva línea
labels = [n.replace(": ", ":\n") for n in labels]

In [32]:
# Guarda el DataFrame "hibridos" en un archivo CSV con el nombre "vehiculos hibridos.csv"
hibridos.to_csv("vehiculos hibridos.csv")

DATASET CONTAMINACION SONORA

In [2]:
# Aca cargue el dataset completo
sonido = pd.read_csv('DataSetCrudos\contaminacion_sonora.csv')

In [3]:
# Dejo solo año 2019
sonido = sonido[sonido['year'] == 2019]

In [4]:
# Estas columnas las elimino porque estan relacionadas a como se realizo el estudio, nombre del sensor, nombre del audio, etc
columnas_a_eliminar = ['split', 'sensor_id', 'audio_filename',	'annotator_id']

# Elimina las columnas especificadas
sonido = sonido.drop(columnas_a_eliminar, axis=1)

In [5]:
# Reemplaza los valores string por valores numéricos en todo el DataFrame
sonido = sonido.replace({'near': 1, 'far': 1, 'notsure': 0})

In [6]:
# Guarda dataset como "todos_los_sonidos.csv"
sonido.to_csv('todos_los_sonidos_2019.csv',index=False)

DATASET TAXIS AMARILLOS

In [21]:
# Abre dataset de taxis amarillos
taxis_amarillos=pd.read_parquet("DataSetCrudos\yellow taxi trip records.parquet")

In [22]:
# Eliminar duplicados en todo el DataFrame
taxis_amarillos = taxis_amarillos.drop_duplicates()

In [23]:
# Guarda una lista de las columnas originales del DataFrame "taxis_amarillos"
columnas_viejas = list(taxis_amarillos.columns)

# Renombra las columnas seleccionadas para que coincidan con un esquema específico
taxis_amarillos["ProveedorID"] = taxis_amarillos["VendorID"]
taxis_amarillos["hora comienzo de viaje"] = taxis_amarillos["tpep_pickup_datetime"]
taxis_amarillos["hora fin de viaje"] = taxis_amarillos["tpep_dropoff_datetime"]
taxis_amarillos["numero de pasajeros"] = taxis_amarillos["passenger_count"]
taxis_amarillos["distancia de viaje"] = taxis_amarillos["trip_distance"]
taxis_amarillos["tarifaID"] = taxis_amarillos["RatecodeID"]
taxis_amarillos["InicioLocalidadID"] = taxis_amarillos["PULocationID"]
taxis_amarillos["FinLocalidadID"] = taxis_amarillos["DOLocationID"]
taxis_amarillos["metodo de pago"] = taxis_amarillos["payment_type"]
taxis_amarillos["monto de tarifa"] = taxis_amarillos["fare_amount"]
taxis_amarillos["impuesto MTA"] = taxis_amarillos["mta_tax"]
taxis_amarillos["propina"] = taxis_amarillos["tip_amount"]
taxis_amarillos["monto peajes"] = taxis_amarillos["tolls_amount"]
taxis_amarillos["monto de mejoras"] = taxis_amarillos["improvement_surcharge"]
taxis_amarillos["monto total"] = taxis_amarillos["total_amount"]
taxis_amarillos["monto de congestion"] = taxis_amarillos["congestion_surcharge"]
taxis_amarillos["monto aeropuerto"] = taxis_amarillos["Airport_fee"]

# Remueve la columna "extra" de las columnas originales
columnas_viejas.remove("extra")

# Elimina las columnas originales que no han sido renombradas
# Esto es para conservar solo las columnas con los nuevos nombres
taxis_amarillos.drop(columns=columnas_viejas, inplace=True)

In [24]:
# Reemplaza los valores 99 en la columna "tarifaID" con NaN (valores nulos)
taxis_amarillos["tarifaID"].replace(99, np.nan, inplace=True)

In [25]:
# Multiplica los valores en la columna "distancia de viaje" por 1.60934 para convertir millas a kilómetros
# Esta operación convierte la distancia de viaje de millas a kilómetros
taxis_amarillos["distancia de viaje"] = taxis_amarillos["distancia de viaje"] * 1.60934

In [26]:
# Crea una máscara booleana para filtrar filas donde el método de pago es igual a 1 (efectivo) y la propina es igual a 0
# Esto crea una máscara booleana que contiene True en las filas que cumplen ambas condiciones y False en las que no.
mask = (taxis_amarillos["metodo de pago"] == 1) & (taxis_amarillos["propina"] == 0)

mask=(taxis_amarillos["metodo de pago"]==1) & (taxis_amarillos["propina"]==0)

In [27]:
# Diccionario que mapea los códigos de métodos de pago a sus descripciones
metodos = {0: "Tarjeta de crédito",
           1: "Efectivo",
           2: "Sin cargo",
           3: "Disputa",
           4: "Desconocido",
           5: "Viaje anulado"}

# Aplica una función lambda para mapear los códigos de métodos de pago a sus descripciones correspondientes
taxis_amarillos["metodo de pago"] = taxis_amarillos["metodo de pago"].apply(lambda x: metodos[x])

In [28]:
# Crea una nueva columna "fecha" en el DataFrame "taxis_amarillos" y copia los valores de la columna "hora comienzo de viaje"
taxis_amarillos["fecha"] = taxis_amarillos["hora comienzo de viaje"]

In [29]:
# Crea una nueva columna "year" en el DataFrame "taxis_amarillos" y extrae el año de la columna "hora comienzo de viaje"
taxis_amarillos["year"] = taxis_amarillos["hora comienzo de viaje"].apply(lambda x: x.year)

# Crea una nueva columna "mes" en el DataFrame "taxis_amarillos" y extrae el mes de la columna "hora comienzo de viaje"
taxis_amarillos["mes"] = taxis_amarillos["hora comienzo de viaje"].apply(lambda x: x.month)

In [30]:
# Llena valores nulos con un valor específico antes de la conversión
taxis_amarillos['numero de pasajeros'] = taxis_amarillos['numero de pasajeros'].fillna(1).astype(int)

In [31]:
# Reemplaza valores '0' por '1'
taxis_amarillos['numero de pasajeros'] = taxis_amarillos['numero de pasajeros'].replace(0, 1)

In [32]:
# Especifica las columnas que quieres llenar con la media
columnas_a_llenar = ['monto de congestion', 'monto aeropuerto']

# Llena valores faltantes solo en las columnas especificadas con la media de cada columna
taxis_amarillos[columnas_a_llenar] = taxis_amarillos[columnas_a_llenar].fillna(taxis_amarillos[columnas_a_llenar].mean())

In [33]:
# Elimina las filas que tienen valores mayores a 500 en la columna 'distancia de viaje' porque los considero errores
taxis_amarillos = taxis_amarillos[taxis_amarillos['distancia de viaje'] <= 500]

In [34]:
# https://es.globalpetrolprices.com/USA/gasoline_prices/
# https://miituo.com/blog/cuantos-kilometros-rinde-un-litro-de-gasolina/

precio_gasolina_por_litro = 0.9 # Precio en usd actualizado al 29-01-24
distancia_recorrida_por_litro = 11 # Promedio entre 10 y 12 km por litro
precio_gasolina_por_km = precio_gasolina_por_litro/distancia_recorrida_por_litro  # Ingresa el precio de la gasolina por km

# Crea la nueva columna 'costo de viaje gasolina'
taxis_amarillos['costo de viaje gasolina ($usd)'] = (taxis_amarillos['distancia de viaje'] * precio_gasolina_por_km).round(2)

In [35]:
# https://siempreauto.com/cuanto-consume-un-carro-electrico/
# https://www.carwow.es/coches-electricos/calculadora-autonomia

precio_carga_por_kwh = 0.175 # El costo por kWh en Estados Unidos es de $0.175 dólares, aproximadamente . Actualizado al 21-01-24
distancia_recorrida_por_kwh = 7 # Promedio entre 6 y 8 km por kwh
precio_kwh_por_km = precio_carga_por_kwh/distancia_recorrida_por_kwh  # Ingresa el precio de la gasolina por km

# Crea la nueva columna 'costo de viaje kwh'
taxis_amarillos['costo de viaje kwh ($usd)'] = (taxis_amarillos['distancia de viaje'] * precio_kwh_por_km).round(2)

In [36]:
# Reemplaza los valores faltantes en la columna 'tarifaID' por '1.0'
taxis_amarillos['tarifaID'] = taxis_amarillos['tarifaID'].fillna(1.0)

In [37]:
# Filtra el DataFrame para mantener solo las filas con fechas dentro del rango especificado
taxis_amarillos = taxis_amarillos[(taxis_amarillos['hora comienzo de viaje'] >= '2023-01-01') & (taxis_amarillos['hora comienzo de viaje'] < '2023-12-01')]

In [38]:
# Calcula la media de cada columna
columnas = ['distancia de viaje', 'monto total', 'monto de congestion','numero de pasajeros', 'monto de tarifa', 'propina','monto peajes', 'monto de mejoras', 'monto aeropuerto', 'costo de viaje gasolina ($usd)', 'costo de viaje kwh ($usd)']
medias = taxis_amarillos[columnas].mean()

# Reemplaza los valores negativos por la media
for columna in columnas:
    taxis_amarillos[columna] = taxis_amarillos[columna].apply(lambda x: medias[columna] if x < 0 else x)

In [39]:
# Mapeo de valores a palabras
mapeo_tarifas = {
    1.0: 'Standard rate',
    2.0: 'JFK',
    3.0: 'Newark',
    4.0: 'Nassau or Westchester',
    5.0: 'Negotiated fare',
    6.0: 'Group ride'
}

# Aplica el mapeo a la columna 'tarifaID'
taxis_amarillos['tarifaID'] = taxis_amarillos['tarifaID'].map(mapeo_tarifas)

In [40]:
# Calcula y agrega columna de la duración de viaje en minutos
taxis_amarillos['duracion de viaje (min)'] = ((taxis_amarillos['hora fin de viaje'] - taxis_amarillos['hora comienzo de viaje']).dt.total_seconds() / 60).round(2)

In [41]:
# Guarda el DataFrame "taxis_amarillos" en un archivo PARQUET con el nombre "taxis_amarillos.parquet"
taxis_amarillos.to_parquet("taxis_amarillos.parquet",index=False)

DATASET TAXIS VERDES

In [6]:
# Abre dataset de taxis verdes
taxis_verdes=pd.read_parquet("DataSetCrudos\green taxi trip records.parquet")

In [7]:
# Eliminar duplicados en todo el DataFrame
taxis_verdes = taxis_verdes.drop_duplicates()

In [8]:
# Guarda una lista de las columnas originales del DataFrame "taxis_verdes"
columnas_viejas = list(taxis_verdes.columns)

# Renombra las columnas seleccionadas para que coincidan con un esquema específico
taxis_verdes["ProveedorID"] = taxis_verdes["VendorID"]
taxis_verdes["hora comienzo de viaje"] = taxis_verdes["lpep_pickup_datetime"]
taxis_verdes["hora fin de viaje"] = taxis_verdes["lpep_dropoff_datetime"]
taxis_verdes["numero de pasajeros"] = taxis_verdes["passenger_count"]
taxis_verdes["distancia de viaje"] = taxis_verdes["trip_distance"]
taxis_verdes["tarifaID"] = taxis_verdes["RatecodeID"]
taxis_verdes["InicioLocalidadID"] = taxis_verdes["PULocationID"]
taxis_verdes["FinLocalidadID"] = taxis_verdes["DOLocationID"]
taxis_verdes["metodo de pago"] = taxis_verdes["payment_type"]
taxis_verdes["monto de tarifa"] = taxis_verdes["fare_amount"]
taxis_verdes["impuesto MTA"] = taxis_verdes["mta_tax"]
taxis_verdes["propina"] = taxis_verdes["tip_amount"]
taxis_verdes["monto peajes"] = taxis_verdes["tolls_amount"]
taxis_verdes["monto de mejoras"] = taxis_verdes["improvement_surcharge"]
taxis_verdes["monto total"] = taxis_verdes["total_amount"]
taxis_verdes["monto de congestion"] = taxis_verdes["congestion_surcharge"]
taxis_verdes["tipo de viaje"] = taxis_verdes["trip_type"]

# Remueve la columna "extra" de las columnas originales
columnas_viejas.remove("extra")

# Elimina las columnas originales que no han sido renombradas
# Esto es para conservar solo las columnas con los nuevos nombres
taxis_verdes.drop(columns=columnas_viejas, inplace=True)

In [9]:
# Reemplaza los valores 99 en la columna "tarifaID" con NaN (valores nulos)
# Esto puede ser útil si los valores 99 indican valores atípicos o no válidos en los datos
taxis_verdes["tarifaID"].replace(99, np.nan, inplace=True)

In [10]:
# Multiplica los valores en la columna "distancia de viaje" por 1.60934 para convertir millas a kilómetros
# Esta operación convierte la distancia de viaje de millas a kilómetros
taxis_verdes["distancia de viaje"] = taxis_verdes["distancia de viaje"] * 1.60934

In [11]:
# Elimina las filas que tienen valores mayores a 500 en la columna 'distancia de viaje' porque los considero errores
taxis_verdes = taxis_verdes[taxis_verdes['distancia de viaje'] <= 500]

In [12]:
# https://es.globalpetrolprices.com/USA/gasoline_prices/
# https://miituo.com/blog/cuantos-kilometros-rinde-un-litro-de-gasolina/

precio_gasolina_por_litro = 0.9 # Precio en usd actualizado al 29-01-24
distancia_recorrida_por_litro = 11 # Promedio entre 10 y 12 km por litro
precio_gasolina_por_km = precio_gasolina_por_litro/distancia_recorrida_por_litro  # Ingresa el precio de la gasolina por km

# Crear la nueva columna 'costo de viaje gasolina'
taxis_verdes['costo de viaje gasolina ($usd)'] = (taxis_verdes['distancia de viaje'] * precio_gasolina_por_km).round(2)

In [13]:
# https://siempreauto.com/cuanto-consume-un-carro-electrico/
# https://www.carwow.es/coches-electricos/calculadora-autonomia

precio_carga_por_kwh = 0.175 # El costo por kWh en Estados Unidos es de $0.175 dólares, aproximadamente . Actualizado al 21-01-24
distancia_recorrida_por_kwh = 7 # Promedio entre 6 y 8 km por kwh
precio_kwh_por_km = precio_carga_por_kwh/distancia_recorrida_por_kwh  # Ingresa el precio de la gasolina por km

# Crear la nueva columna 'costo de viaje kwh'
taxis_verdes['costo de viaje kwh ($usd)'] = (taxis_verdes['distancia de viaje'] * precio_kwh_por_km).round(2)

In [14]:
# Llena valores no nulos con un valor específico antes de la conversión a int
taxis_verdes['numero de pasajeros'] = taxis_verdes['numero de pasajeros'].fillna(1).astype(int)

# Reemplaza valores '0' por '1'
taxis_verdes['numero de pasajeros'] = taxis_verdes['numero de pasajeros'].replace(0, 1)

In [15]:
# Elimina filas con valores faltantes
taxis_verdes = taxis_verdes.dropna()

In [16]:
# Filtra el DataFrame para mantener solo las filas con fechas dentro del rango especificado
taxis_verdes = taxis_verdes[(taxis_verdes['hora comienzo de viaje'] >= '2023-01-01') & (taxis_verdes['hora comienzo de viaje'] < '2023-12-01')]

In [17]:
# Calcula la media de cada columna
columnas = ['distancia de viaje', 'monto total', 'monto de congestion','numero de pasajeros', 'monto de tarifa', 'propina','monto peajes', 'monto de mejoras', 'costo de viaje gasolina ($usd)', 'costo de viaje kwh ($usd)']
medias = taxis_verdes[columnas].mean()

# Reemplaza los valores negativos por la media
for columna in columnas:
    taxis_verdes[columna] = taxis_verdes[columna].apply(lambda x: medias[columna] if x < 0 else x)

In [18]:
# Mapeo de valores a palabras
mapeo_tarifas = {
    1.0: 'Standard rate',
    2.0: 'JFK',
    3.0: 'Newark',
    4.0: 'Nassau or Westchester',
    5.0: 'Negotiated fare',
    6.0: 'Group ride'
}

# Aplica el mapeo a la columna 'tarifaID'
taxis_verdes['tarifaID'] = taxis_verdes['tarifaID'].map(mapeo_tarifas)

In [19]:
# Calcula y agrega columna de la duración de viaje en minutos
taxis_verdes['duracion de viaje (min)'] = ((taxis_verdes['hora fin de viaje'] - taxis_verdes['hora comienzo de viaje']).dt.total_seconds() / 60).round(2)

In [20]:
# Guarda el DataFrame "taxis_verdes" en un archivo Parquet llamado "taxis_verdes.parquet"
taxis_verdes.to_parquet("taxis_verdes.parquet",index=False)

DATASET CO2

In [49]:
# Abre dataset Air Quality
datos_aire = pd.read_csv('DataSetCrudos/Air_Quality_20240130.csv')

In [50]:
# Lista de columnas a eliminar del DataFrame "datos_aire"
columnas_a_eliminar = ['Message', 'Indicator ID', 'Geo Type Name', 'Geo Join ID']

# Elimina las columnas especificadas del DataFrame "datos_aire"
datos_aire = datos_aire.drop(columnas_a_eliminar, axis=1)

In [51]:
# Calcula el promedio de los valores de 'Data Value' agrupados por 'Geo Place Name'
# Luego, reinicia el índice del DataFrame resultante para que 'Geo Place Name' se convierta en una columna
contaminacion_promedio_por_vecindario = datos_aire.groupby('Geo Place Name')['Data Value'].mean().reset_index()

In [52]:
# Etiquetas correspondientes a mediciones de hospitalizaciones
hospitalizaciones_etiquetas = [
    'Asthma emergency department visits due to PM2.5',
    'Asthma hospitalizations due to Ozone',
    'Asthma emergency departments visits due to Ozone',
    'Cardiac and respiratory deaths due to Ozone',
    'Deaths due to PM2.5',
    'Cardiovascular hospitalizations due to PM2.5 (age 40+)',
    'Respiratory hospitalizations due to PM2.5 (age 20+)'
]

# Etiquetas correspondientes a mediciones de contaminación en el aire
contaminacion_etiquetas = [
    'Nitrogen dioxide (NO2)',
    'Fine particles (PM 2.5)',
    'Ozone (O3)',
    'Outdoor Air Toxics - Benzene',
    'Outdoor Air Toxics - Formaldehyde',
    'Boiler Emissions- Total NOx Emissions',
    'Boiler Emissions- Total SO2 Emissions',
    'Boiler Emissions- Total PM2.5 Emissions'
]

# Filtrar las filas correspondientes a hospitalizaciones
hospitalizaciones_df = datos_aire[datos_aire['Name'].isin(hospitalizaciones_etiquetas)]

# Filtrar las filas correspondientes a mediciones de contaminación en el aire
contaminacion_df = datos_aire[datos_aire['Name'].isin(contaminacion_etiquetas)]

In [53]:
# El año extraído se almacena en una nueva columna llamada 'year'
contaminacion_df['year'] = contaminacion_df['Time Period'].str.extract(r'(\d{4})')

In [59]:
# Guarda datasets
datos_aire.to_csv('datos_aire.csv',index=False)
hospitalizaciones_df.to_csv('hospitalizaciones_aire.csv',index=False)
contaminacion_df.to_csv('contaminacion_aire.csv',index=False)

DATASET CO2 NEW YORK

In [55]:
# Abre dataset con excel
datos_co2 = pd.read_excel('DataSetCrudos\FY_2021_FY_2022_municipal.xlsx')

In [56]:
# Filtra las filas del DataFrame 'datos_co2' donde el valor en la columna 'Main Sector' es igual a 'Transportation'
c02_trasporte = datos_co2.loc[datos_co2['Main Sector'] == 'Transportation']

In [57]:
# Guarda dataset 'co2_transporte.xlsx'
c02_trasporte.to_excel('c02_trasporte.xlsx', index=False)

DATASET TRANSPORTE

In [ ]:
datos_trasp = pd.read_csv(r'D:\Users\Natalia\Downloads\data\NYC EH Data Portal - Commuting modes (filtered).csv')

In [ ]:
tipos_de_transporte = ['Bicycle', 'Car, truck, or van', 'Public transportation', 'Walked']

for transporte in tipos_de_transporte:
 
    indice_max_porcentaje = datos_trasp[f'{transporte} (percent)'].idxmax()
    
    
    barrio_max = datos_trasp.loc[indice_max_porcentaje, 'Geography']
    porcentaje_max = datos_trasp.loc[indice_max_porcentaje, f'{transporte} (percent)']
    
    print(f"Barrio con mayor porcentaje de {transporte}: {barrio_max} ({porcentaje_max}%)")